target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
/src/main/resources/library/merged.txt
/src/main/resources/library/33tokenR.txt
/vue/client/.gitignore
/vue/client/package-lock.json
/vue/client/package.json
