<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhoulin.demo.mapper.CommentMapper">
    <resultMap id="CommentMap" type="com.zhoulin.demo.bean.InfoComment">
        <id column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="info_id" property="infoId"/>
        <result column="user_id" property="userId"/>
        <result column="parent_comment_id" property="parentCommentId"/>
        <result column="reply_user_id" property="replyUserId"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="findAll" resultMap="CommentMap">
        SELECT * FROM `info_comment`
    </select>

    <select id="getCommentById" parameterType="long" resultMap="CommentMap">
        SELECT * FROM `info_comment` u WHERE `id` = #{_parameter}
    </select>

    <select id="getListByInfoId"  resultMap="CommentMap">
        SELECT * FROM `info_comment` a WHERE `info_id` = #{infoId}
        LIMIT #{tableMessage.offset},#{tableMessage.limit}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.zhoulin.demo.bean.InfoComment">
        INSERT INTO `article_comment` (`content`,`article_id`,`user_id`,`parent_comment_id`,`reply_user_id`)
        VALUES (#{content},#{articleId},#{userId},#{parentCommentId},#{replyUserId})
    </insert>
    <update id="delete">
        UPDATE `article_comment` SET `status` = 1
        where `id` = #{_parameter}
    </update>

</mapper>