<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhoulin.demo.mapper.InfoTypeMapper">
    <resultMap id="InfoTypeMap" type="com.zhoulin.demo.bean.InfoType">
        <id column="type_id" property="typeId"/>
        <result column="type_name" property="typeName"/>
    </resultMap>

    <select id="findAllType" resultMap="InfoTypeMap">
        SELECT * FROM info_type
    </select>

    <select id="getTypeByTypeId" parameterType="int" resultMap="InfoTypeMap">
        SELECT * FROM info_type
        WHERE type_id = #{typeId}
    </select>

</mapper>